.wizard {
  width: 1200px;
  position: relative; }


.inner {
  display: flex;
  background: #fff;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2); }


.form-content {
  width: 100%;
  padding-top: 65px;
  padding-left: 51px;
  padding-right: 51px; }


.form-row {
  display: flex;
  margin-bottom: 18px; }
  .form-row .form-holder {
    width: 50%;
    margin-right: 30px; }
    .form-row .form-holder:last-child {
      margin-right: 0; }
    .form-row .form-holder.w-100 {
      width: 100%;
      margin-right: 0; }


.form-holder {
  position: relative; }
  .form-holder i {
    position: absolute;
    bottom: 7px;
    right: 0;
    font-size: 17px; }

.form-control {
  height: 37px;
  border: none;
  border-bottom: 2px solid #e6e6e6;
  width: 100%;
  color: #666; }
  .form-control:focus {
    border-color: #e9e0cf; }
  .form-control::-webkit-input-placeholder {
    color: #999; }
  .form-control::-moz-placeholder {
    color: #999; }
  .form-control:-ms-input-placeholder {
    color: #999; }
  .form-control:-moz-placeholder {
    color: #999; }

.checkbox-tick label {
  cursor: pointer;
  display: inline-block;
  padding-left: 23px;
  position: relative; }
  .checkbox-tick label.male {
    margin-right: 26px; }
.checkbox-tick input {
  position: absolute;
  opacity: 0;
  cursor: pointer; }
.checkbox-tick input:checked ~ .checkmark {
  background: #999; }
  .checkbox-tick input:checked ~ .checkmark:after {
    display: block; }
.checkbox-tick .checkmark {
  position: absolute;
  top: 3px;
  left: 0;
  height: 13px;
  width: 13px;
  border: 1px solid #999;
  border-radius: 50%;
  font-family: Material-Design-Iconic-Font;
  color: #fff;
  font-size: 11px; }
  .checkbox-tick .checkmark:after {
    top: 0;
    left: 2px;
    position: absolute;
    display: none;
    content: '\f26b'; }

.checkbox-circle {
  position: relative;
  padding-left: 23px;
  margin-top: 41px;
  width: 63%; }
  .checkbox-circle.mt-24 {
    margin-top: 24px; }
  .checkbox-circle label {
    cursor: pointer;
    color: #999;
    font-size: 13px;
    line-height: 1.9;
    transform: translateY(-5px); }
    .checkbox-circle label a {
      color: #6d7f52; }
      .checkbox-circle label a:hover {
        color: #89b843; }
  .checkbox-circle input {
    position: absolute;
    opacity: 0;
    cursor: pointer; }
  .checkbox-circle input:checked ~ .checkmark:after {
    display: block; }
  .checkbox-circle .checkmark {
    position: absolute;
    top: 6px;
    left: 0;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    border: 1px solid #999; }
    .checkbox-circle .checkmark:after {
      content: "";
      top: 2px;
      left: 2px;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background: #999;
      position: absolute;
      display: none; }



  .form-content {
    width: 100%;
    padding: 50px 20px 30px; }

  .form-row {
    display: block; }
    .form-row .form-holder, .form-row .select {
      width: 100%;
      margin-right: 0;
      margin-bottom: 18px; }

  .wrapper {
    height: 1201px;
    background: none; }

  .checkbox-circle {
    width: 100%; }

  .wizard {
    height: 100%; }



/*# sourceMappingURL=style.css.map */
