@charset "UTF-8";

.ml-auto,readystate http status
.mx-auto {
  margin-left: auto !important; 
  color: #f85959;
  font-weight: bold;}
  
  
  /* border-top: 1px solid transparent; 추가추가추가 */
  background: #fff; } 
.destination .text {
  border: 1px solid #e6e6e6;
  /* border-top: 1px solid transparent; 추가추가추가 */
  background: #fff; }
  /*추가추가*/
  .destination .text .days {
  margin: 0px;
} 




  
.destination .text .days span {
  font-size: 13px;
  color: black; }
      
     /* 추가추가 */
.tagcloud a.location {
	color: #cd2c6c;
	border: 1px solid #cd2c6c;
}
.tagcloud a.season {
	color: #108292;
	border: 1px solid #108292;
}
.tagcloud a.thema {
	color: #332679;
	border: 1px solid #332679;
}
 
 
.comment-list .slchild {
    padding: 20px 0 0 20px;
    margin: 0;
    float: left;
    width: 100%; }
	
}

.slday-title {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
  font-size: 5px;
}

.sl-day {
	margin-bottom: 1rem;
	margin-top: 0;
	line-height: 1.5;
	color: #000000;
	font-weight: 400;
	font-size: 2rem;
	font-family: inherit;
}
.day-updown a {
	font-size: 1rem;
      color: #f85959;
      text-align: center;
      display: inline-block;
      width: 30px;
      height: 30px;
      line-height: 30px;
      border-radius: 50%;
      border: 2px solid #fdd3d3; }
      
.sl-loc {
	margin-bottom: 0.5rem;
	margin-top: 0;
	line-height: 1.5;
	color: #000000;
	font-weight: 400;
	font-size: 1.25rem;
	font-family: inherit;
}
.loc-updown a {
	font-size: 1rem;
      color: #f85959;
      text-align: center;
      display: inline-block;
      width: 30px;
      height: 30px;
      line-height: 30px;
      border-radius: 50%;
      border: 2px solid #fdd3d3; }
.sl-loc-cont {
	padding: 0 0 1rem 1rem;	
}
.loc-updown a {
	font-size: 0.5rem;
      color: #000000;
      text-align: center;
      display: inline-block;
      width: 15px;
      height: 15px;
      line-height: 15px;
      border-radius: 50%;
      border: 1px solid #6c757d; }